html{
    width: 99%;
    margin-top: 0.1%;
    margin-left: 0.1%;
    height: 99%;
    overflow: hidden;
}

body{
    width: 99%;
    height: 99%;
    margin: 0;
    padding: 0;
}

#title{
    background-color: DarkGray;
    height: 4%;
    position: absolute;
    left: 22%;
    top: 0%;
    width: 78%;
    text-align: center;
    font-weight: bold;
    font-size: 105%;
    overflow: auto
}

#openSide {
    width: 10%;
    height: auto;
    background-color: grey;
    position: sticky;
    display: none;
}

#side{
    background-color: grey;
    width: 22%;
    height: 100%;
    color: black;
  overflow: auto;
  position: absolute;
  left: 0%;
  top: 0%;
    word-wrap: break-word;
}

#search{
    background-color: white;
    margin-bottom: 2%; /* Set margin between items */
    width: 80%;
    position: relative;
    left: 8%;
}

.item{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
    margin-bottom: 1%; /* Set margin between items */
    font-size: 100%;
}
/* https://stackoverflow.com/a/45180740/19515980 */

.item:hover{
    cursor: pointer;
    opacity: 0.6;
}

#infoArea {
    background-color: none;
    color: black;
    font-size: 150%;
    width: 77.3%;
    height: 95%;
    position: relative;
    left: 23%;
    top: 5%;
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;
    overflow: auto;
}

#openMenu{
    display: none
}

#openMenu:hover{
    opacity: 0.8;
    cursor: pointer;
}

/*use min-width and max-width*/
@media (orientation: portrait) or (max-width : 824px) {
/*max-device-width help: https://stackoverflow.com/questions/37136911/conditional-css-based-on-min-width-max-width-is-ignored-on-apple-tablets */
    #title{
        left: 0%;
        top: 0%;
        width: 100%;
        height: 8%;
        font-size: 80%;
        z-index: 5;
    }
    #infoArea{
        left: 0%;
        top: 8%;
        width: 100%;
        height: 100%;
        overflow: show;
        font-size: 50%;
    }
    #openMenu{
        width: 2%;
        height: auto;
        display: block;
        position: sticky;
        top: 8%;
        opacity: 0.5;
        z-index: 2;
    }
    #side{
        display: none;
        width: 100%;
        height: 100%;
        top: 8%;
        z-index: 1;
    }
    #openSide {
        width: 10%;
        height: auto;
    }
    .playerControl {
      border-style: solid;
      border-color: black;
        border-width: 1px; /* Adjust border width for smaller screens */
    }
}
/* helped by chatgpt*/

.playerControlsIcon {
    font-size: 100%;
}

.playerControlsIcon:hover {
    font-size: 100%;
    color: silver;
    opacity: 0.8;
    cursor: pointer;
}

.playerControl {
    /*
    inline-size: min-content;
    white-space: nowrap;
  */
  background-color: grey;
    font-size: 100%;
     width: 20%;
    height: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0.5%;
  grid-gap: -5%;
      text-align: center;
      border-style: solid;
      border-color: black;
      border-width: 3px;
}
/*help:
 * same line text: https://stackoverflow.com/a/7546415/19515980
 * text wrap: https://developer.mozilla.org/en-US/docs/Web/CSS/text-wrap
 * word wrapL https://www.w3schools.com/cssref/css3_pr_word-wrap.php
 * inline size: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text
*/

#allPlayerControls {
     display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between elements */
}
/*helped by chatgpt*/

#title:hover{
    cursor: pointer;
    color: silver;
    background-color: grey;
}
